#title {
 height: 50vh;
    background-image : url(../images/1.jpg) ;
    background-size: cover;
    background-position: center;
    filter: brightness(70%);
    
display: flex;
color: azure;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    
}



body,html{
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: beige;
}


a:link{
    color: black;
    text-decoration: none;
}



a:hover{
color: darkorange;
text-decoration: wavy;
}


img{
    padding-top: 30px;
}



.bodyIndex{
    display: flex; 
    justify-content:space-evenly;
    text-align: center; 
    padding-top: 20px;
    font-size: x-large;
    color: black;
}

#TitreDePage {
    text-align: center;

}

